---
import "../../styles/global.css";

interface Props {
    partido: string;
    fecha: string;
}

const { partido, fecha} = Astro.props;
---

<div class="h-fit w-full bg-[#C10230] px-3 py-3 rounded-lg shadow-lg flex flex-col text-white">
    <div class="flex flex-row gap-1">
        <span class="font-bold text-base">Partido:</span>
        <p class="text-base">{partido}</p>
    </div>
    <div class="flex flex-row gap-1">
        <span class="font-bold text-base">Fecha:</span>
        <p class="text-base">{fecha}</p>
    </div>
</div>